@import url(./fonts/css/satoshi.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0E100F;
  --text-color: #FFFCE1;
  --sec-color:  #6e7066;
}

.bg-color {
  background-color: var(--bg-color);
}

.border-primary {border-color: var(--text-color);}
.text-color-primary {color: var(--text-color);}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Satoshi', sans-serif;
}

.description {
  color: var(--sec-color);
  font-family: "Playfair Display", serif;
}

.muted {
  color: var(--sec-color) !important;
}

.font-desc {
  font-family: "Playfair Display", serif;
}

.button {
  border: 1px solid var(--text-color);
  padding: 8px 30px;
  transition: 150ms;
  color: var(--text-color);
}

.button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: 250ms;
}


.button-black {
  border: 1px solid black;
  padding: 8px 30px;
  transition: 150ms;
}

.button-black:hover {
  background-color: black;
  color: white;
  transition: 250ms;
}

.spacer {
  margin-top: 45px;
  margin-bottom: 45px;
}

hr {
  background-color: var(--sec-color) !important;
}

@media screen and (max-width: 850px) {
  .phone-hide { display: none;} 
}